.container{
    width: 80%;
    position: relative;
    top: 15vh;
    left: 30%;
}

.search-container{
    width: 60%;
    text-align: center;
}

.search-bar{
    width: 50%;
    height:30px;
    border: 1px solid black;
}

.search-button{
    height: 30px;
    width: 10%;
    color: wheat;
    background-color: rgb(69, 69, 112);
}